<footer>
    <div class="messangers">
        <h2>Связаться с нами</h2>
        <div class="element">
            <img src="~/favicon.png" alt="Alternate Text" />
            <p>Telegram</p>
        </div>
        <div class="element">
            <img src="~/favicon.png" alt="Alternate Text" />
            <p>Whatsapp</p>
        </div>
        <div class="element">
            <img src="~/favicon.png" alt="Alternate Text" />
            <p>ВКонтакте</p>
        </div>
        <div class="element">
            <img src="~/favicon.png" alt="Alternate Text" />
            <p>Телефон: 88888888888</p>
        </div>
    </div>

    <div class="divfooter">
        <h2>Афиша</h2>
        <p>Мероприятия</p>
        <p>Массовые катания</p>
        <p>Архив</p>
        <p>Все события</p>
    </div>

    <div class="divfooter">
         <h2>Услуги</h2>
         <p>Оргинизаторам</p>
         <p>Арендаторам</p>
         <p>Болельщикам</p>
         <p>Рекламодателям</p>
         <p>Все услуги</p>
     </div>

    <div class="divfooter">
         <h2>"Спутник"</h2>
        <p>О ледовом</p>
        <p>Тренажерный зал</p>
        <p>Арена</p>
        <p>Другие спортивные площадки</p>
     </div>
</footer>

<div class="obshinfo">

</div>

@code {

}
