<footer>
   <div class="columns">
    <div class="divfooter">
        <h2 class="zagfooterdiv">Афиша</h2>
        <a href="#" class="textindiv">Мероприятия</a>
        <a href="#" class="textindiv">Массовые катания</a>
        <a href="#" class="textindiv">Архив</a>
        <a href="#" class="textindiv">Все события</a>
    </div>

    <div class="divfooter">
         <h2 class="zagfooterdiv">Услуги</h2>
         <a href="#" class="textindiv">Оргинизаторам</a>
         <a href="#" class="textindiv">Арендаторам</a>
         <a href="#" class="textindiv">Болельщикам</a>
         <a href="#" class="textindiv">Рекламодателям</a>
         <a href="#" class="textindiv">Все услуги</a>
     </div>

    <div class="divfooter">
        <h2 class="zagfooterdiv">"Спутник"</h2>
        <a href="#" class="textindiv">О ледовом</a>
        <a href="#" class="textindiv">Тренажерный зал</a>
        <a href="#" class="textindiv">Арена</a>
        <a href="#" class="textindiv">Другие спортивные площадки</a>
     </div>
   </div>

    <h2 class="zagfooterdiv2">Связаться с нами</h2>

    <div class="messangers">
        <a href="https://t.me/urballerr" class="element">
            <img src="/images/telegramlogo.png" alt="Alternate Text" class="logoimg"/>
        </a>
        <a href="https://t.me/urballerr" class="element">
            <img src="/images/whatsapppng.png" alt="Alternate Text" class="logoimg" />
        </a>
        <a href="https://t.me/urballerr" class="element">
            <img src="/images/vklogo.png" alt="Alternate Text" class="logoimg" />
        </a>
        <a href="https://t.me/urballerr" class="element">
            <img src="/images/phone.png" alt="Alternate Text" class="logoimg" />
        </a>
    </div>

    <div class="footover">
        <p class="overp">
            Ледовый дворец Спутник <br />
            ул. Карла Маркса, 103Б, Агрыз
        </p>
    </div>
</footer>



@code {

}
