@using IceArena.Web.Components.Modal
@rendermode InteractiveServer

<header>
    <img src="images/ledoviylogo.png" class="logoled"/>
    <nav>
        <a href="/" class="headera">Главная</a>
        <a href="/matches" class="headera">Матчи</a>
        <a href="/booking" class="headera">Бронирование</a>
        <a href="/profile" class="headera">Профиль</a>
    </nav>
    <button @onclick="OpenLoginModal" class="vhodavtor"> Войти</button>
    <LoginModel IsOpen="@isLoginOpen" IsOpenChanged="@((value) => isLoginOpen = value)" />
</header>

@code {
    private bool isLoginOpen = false;

    private void OpenLoginModal()
    {
        isLoginOpen = true;
    }

    
}