<a href="dashboard" class="headera">Админ-панель</a>
<a href="matchesadmin" class="headera">Управление матчами</a>
<a href="bookings" class="headera">Бронирования</a>
<a href="users" class="headera">Пользователи</a>
@code {

}
