@using IceArena.Web.Components.Modal
@rendermode InteractiveServer

<header class="header">
    <button @onclick="OpenLoginModal"> Войти</button>
    <nav>
        <a href="/">Главная</a>
        <a href="/matches">Матчи</a>
        <a href="/booking">Бронирование</a>
        <a href="/profile">Профиль</a>
    </nav>
    <LoginModel IsOpen="@isLoginOpen" IsOpenChanged="@((value) => isLoginOpen = value)" />
</header>

@code {
    private bool isLoginOpen = false;

    private void OpenLoginModal()
    {
        isLoginOpen = true;
    }
}