<a href="/" class="headera">Главная</a>
<a href="/matches" class="headera">Матчи</a>
<a href="/booking" class="headera">Бронирование</a>
<a href="/team" class="headera">Наша команда</a>
<a href="/profile" class="headera">Профиль</a>
@code {

}
