@page "/booking"

<h1 class="bron">У нас вы можете забронировать:</h1>

<div class="bookingsdiv">
    <div class="bookingdiv">
        <div class="imgh1">
            <img src="../images/ledoviyelka.jpg" class="foto"/>
            <h1 class="nazvanie">Ледовая площадка</h1>
        </div>
        <a href="ledoviy" class="giperssilka">Узнать более...</a>
    </div>

    <div class="bookingdiv">
        <div class="imgh1">
            <img src="../images/ledoviyelka.jpg" class="foto" />
            <h1 class="nazvanie">Ледовая площадка</h1>
        </div>
        <a href="ledoviy" class="giperssilka">Узнать более...</a>
    </div>

    <div class="bookingdiv">
        <div class="imgh1">
            <img src="../images/ledoviyelka.jpg" class="foto" />
            <h1 class="nazvanie">Ледовая площадка</h1>
        </div>
        <a href="ledoviy" class="giperssilka">Узнать более...</a>
    </div>

    <div class="bookingdiv">
        <div class="imgh1">
            <img src="../images/ledoviyelka.jpg" class="foto" />
            <h1 class="nazvanie">Ледовая площадка</h1>
        </div>
        <a href="ledoviy" class="giperssilka">Узнать более...</a>
    </div>

    <div class="bookingdiv">
        <div class="imgh1">
            <img src="../images/ledoviyelka.jpg" class="foto" />
            <h1 class="nazvanie">Ледовая площадка</h1>
        </div>
        <a href="#" class="giperssilka">Узнать более...</a>
    </div>

    <div class="bookingdiv">
        <div class="imgh1">
            <img src="../images/ledoviyelka.jpg" class="foto" />
            <h1 class="nazvanie">Ледовая площадка</h1>
        </div>
        <a href="ledoviy" class="giperssilka">Узнать более...</a>
    </div>
</div>

@code {

}
