@page "/"
@rendermode InteractiveServer
@using IceArena.Web.Interfaces
@using IceArena.Web.Models
@using IceArena.Web.Services
@inject IMatchService MatchService
@inject IJSRuntime JSRuntime

        <div class="carousel">
            <div class="arrow left">&lt;</div>
            <img src="images/ledoviy.jpg" alt="Картинка">
            <div class="arrow right">&gt;</div>
        </div>

<h3>Список матчей</h3>


@if (matches == null)
{
    <p>Загрузка...</p>
}
else
{
    <ul>
        @foreach (var match in matches)
        {
            <li>@match.Team1Id vs @match.Team2Id - @match.MatchDate.ToString("dd.MM.yyyy")</li>
        }
    </ul>
}

@code {
    private List<MatchDto>? matches;

    protected override async Task OnInitializedAsync()
    {
        matches = await MatchService.GetMatchesAsync();
    }

    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        if (firstRender)
        {
            try
            {
                await JSRuntime.InvokeVoidAsync("initializeCarousel");
            }
            catch (JSException ex)
            {
                Console.WriteLine($"Error initializing carousel: {ex.Message}");
            }
        }
    }
}
