body {
}

.profiletext{
    color:white;
    font-size: 20px;
    font-family: Montserrat;
}

.profilea {
    color: white;
    font-family: Montserrat;
}

.profiletext2 {
    color: white;
    font-size: 20px;
    font-family: Montserrat;
}

.profileh1 {
    color: white;
    font-size: 30px;
    font-family: Montserrat;
}