@page "/team"

<h3>Команда</h3>

<div class="team-container">
    <div class="coach-card">
        <h4>Тренер</h4>
        <img src="../images/coach.png"/>
        <p><strong>Имя:</strong> Иван Иванов</p>
        <p><strong>Год рождения:</strong> 1975</p>
        <p><strong>Описание:</strong> Опытный тренер с более чем 20-летним стажем работы в профессиональном хоккее.</p>
    </div>

    <div class="players-container">
        <div class="player-card">
            <h4>Нападающий</h4>
            <img src="../images/hockey_player.png" />
            <p><strong>Имя:</strong> Алексей Петров</p>
            <p><strong>Год рождения:</strong> 1990</p>
            <p><strong>Описание:</strong> Быстрый и техничный нападающий с отличным голевым чутьём.</p>
        </div>

        <div class="player-card">
            <h4>Защитник</h4>
            <img src="../images/hockey_player.png" />
            <p><strong>Имя:</strong> Дмитрий Сидоров</p>
            <p><strong>Год рождения:</strong> 1988</p>
            <p><strong>Описание:</strong> Надёжный защитник с сильным броском и хорошим видением площадки.</p>
        </div>

        <div class="player-card">
            <h4>Вратарь</h4>
            <img src="../images/hockey_player.png" />
            <p><strong>Имя:</strong> Сергей Васильев</p>
            <p><strong>Год рождения:</strong> 1992</p>
            <p><strong>Описание:</strong> Хладнокровный вратарь с отличной реакцией и умением читать игру.</p>
        </div>

        <div class="player-card">
            <h4>Нападающий</h4>
            <img src="../images/hockey_player.png" />
            <p><strong>Имя:</strong> Андрей Смирнов</p>
            <p><strong>Год рождения:</strong> 1991</p>
            <p><strong>Описание:</strong> Мощный нападающий с сильным броском и физической подготовкой.</p>
        </div>

        <div class="player-card">
            <h4>Нападающий</h4>
            <img src="../images/hockey_player.png" />
            <p><strong>Имя:</strong> Игорь Козлов</p>
            <p><strong>Год рождения:</strong> 1993</p>
            <p><strong>Описание:</strong> Универсальный нападающий с отличной техникой и скоростью.</p>
        </div>

        <div class="player-card">
            <h4>Защитник</h4>
            <img src="../images/hockey_player.png" />
            <p><strong>Имя:</strong> Владимир Морозов</p>
            <p><strong>Год рождения:</strong> 1989</p>
            <p><strong>Описание:</strong> Сильный защитник с отличной физической подготовкой.</p>
        </div>

        <div class="player-card">
            <h4>Вратарь</h4>
            <img src="../images/hockey_player.png" />
            <p><strong>Имя:</strong> Павел Новиков</p>
            <p><strong>Год рождения:</strong> 1994</p>
            <p><strong>Описание:</strong> Молодой и перспективный вратарь с отличной реакцией.</p>
        </div>

        <div class="player-card">
            <h4>Нападающий</h4>
            <img src="../images/hockey_player.png" />
            <p><strong>Имя:</strong> Артём Федоров</p>
            <p><strong>Год рождения:</strong> 1990</p>
            <p><strong>Описание:</strong> Нападающий с отличным голевым чутьём и сильным броском.</p>
        </div>

        <div class="player-card">
            <h4>Защитник</h4>
            <img src="../images/hockey_player.png" />
            <p><strong>Имя:</strong> Александр Иванов</p>
            <p><strong>Год рождения:</strong> 1987</p>
            <p><strong>Описание:</strong> Опытный защитник с хорошим видением площадки.</p>
        </div>

        <div class="player-card">
            <h4>Нападающий</h4>
            <img src="../images/hockey_player.png" />
            <p><strong>Имя:</strong> Евгений Кузнецов</p>
            <p><strong>Год рождения:</strong> 1992</p>
            <p><strong>Описание:</strong> Быстрый и техничный нападающий.</p>
        </div>

        <div class="player-card">
            <h4>Защитник</h4>
            <img src="../images/hockey_player.png" />
            <p><strong>Имя:</strong> Николай Соколов</p>
            <p><strong>Год рождения:</strong> 1991</p>
            <p><strong>Описание:</strong> Надёжный защитник с сильным броском.</p>
        </div>

        <div class="player-card">
            <h4>Вратарь</h4>
            <img src="../images/hockey_player.png" />
            <p><strong>Имя:</strong> Денис Петров</p>
            <p><strong>Год рождения:</strong> 1993</p>
            <p><strong>Описание:</strong> Вратарь с отличной реакцией и хладнокровием.</p>
        </div>

        <div class="player-card">
            <h4>Нападающий</h4>
            <img src="../images/hockey_player.png" />
            <p><strong>Имя:</strong> Михаил Волков</p>
            <p><strong>Год рождения:</strong> 1989</p>
            <p><strong>Описание:</strong> Мощный нападающий с сильным броском.</p>
        </div>

        <div class="player-card">
            <h4>Защитник</h4>
            <img src="../images/hockey_player.png" />
            <p><strong>Имя:</strong> Сергей Кузнецов</p>
            <p><strong>Год рождения:</strong> 1990</p>
            <p><strong>Описание:</strong> Защитник с хорошим видением площадки.</p>
        </div>

        <div class="player-card">
            <h4>Нападающий</h4>
            <img src="../images/hockey_player.png" />
            <p><strong>Имя:</strong> Виктор Смирнов</p>
            <p><strong>Год рождения:</strong> 1991</p>
            <p><strong>Описание:</strong> Нападающий с отличной техникой.</p>
        </div>

        <div class="player-card">
            <h4>Защитник</h4>
            <img src="../images/hockey_player.png" />
            <p><strong>Имя:</strong> Алексей Морозов</p>
            <p><strong>Год рождения:</strong> 1988</p>
            <p><strong>Описание:</strong> Сильный защитник с хорошей физической подготовкой.</p>
        </div>

        <div class="player-card">
            <h4>Вратарь</h4>
            <img src="../images/hockey_player.png" />
            <p><strong>Имя:</strong> Игорь Васильев</p>
            <p><strong>Год рождения:</strong> 1992</p>
            <p><strong>Описание:</strong> Вратарь с отличной реакцией.</p>
        </div>

        <div class="player-card">
            <h4>Нападающий</h4>
            <img src="../images/hockey_player.png" />
            <p><strong>Имя:</strong> Дмитрий Козлов</p>
            <p><strong>Год рождения:</strong> 1993</p>
            <p><strong>Описание:</strong> Нападающий с хорошим голевым чутьём.</p>
        </div>

        <div class="player-card">
            <h4>Защитник</h4>
            <img src="../images/hockey_player.png" />
            <p><strong>Имя:</strong> Андрей Новиков</p>
            <p><strong>Год рождения:</strong> 1990</p>
            <p><strong>Описание:</strong> Защитник с сильным броском.</p>
        </div>

        <div class="player-card">
            <h4>Нападающий</h4>
            <img src="../images/hockey_player.png" />
            <p><strong>Имя:</strong> Павел Федоров</p>
            <p><strong>Год рождения:</strong> 1991</p>
            <p><strong>Описание:</strong> Нападающий с отличной техникой.</p>
        </div>

        <div class="player-card">
            <h4>Защитник</h4>
            <img src="../images/hockey_player.png" />
            <p><strong>Имя:</strong> Владимир Соколов</p>
            <p><strong>Год рождения:</strong> 1989</p>
            <p><strong>Описание:</strong> Надёжный защитник.</p>
        </div>
    </div>
</div>
