@page "/bookings"
@inject IEmailService EmailService
@inject NavigationManager NavigationManager
@rendermode InteractiveServer

<h3>Bookings</h3>

<button class="ButtonYes" @onclick="AcceptBooking">Отправить письмо</button>

<p>@Message</p>

@code {
    private string Message = "";

    private async Task AcceptBooking()
    {
        var result = await EmailService.SendMessage();

        if (result.Success)
            NavigationManager.NavigateTo("/dashboard");
        else
            Message = $"Ошибка при отправке письма: {result.ErrorMessage}";
    }
}
